<html>
    <head>
        <meta charset="utf-8">
        <title>Newsletter Mobile</title>
        <title>Mercado Liebre Newsletter</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="navbar">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>
            <br>
            <br>
        </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, assumenda omnis quibusdam est doloribus temporibus ipsam! Tempore dolorum quaerat cupiditate placeat, odit ab repellendus obcaecati maxime dolorem. Omnis, eveniet nemo?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, assumenda omnis quibusdam est doloribus temporibus ipsam! Tempore dolorum quaerat cupiditate placeat, odit ab repellendus obcaecati maxime dolorem. Omnis, eveniet nemo?</p>
            <hr>
            <h3>Lorem, ipsum dolor.</h4>
            <img src="/images/banner_newsletter.png" alt="banner">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
            <a href="/">Lorem, ipsum dolor -></a>
            <hr>
            <h3>Lorem, ipsum dolor.</h3>
            <h2>Lorem ipsum, dolor sit amet consectetur adipisicing.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fugit iusto quaerat, enim porro hic velit recusandae dolorum eum, distinctio esse deserunt nulla odit eius debitis eaque at! Assumenda, quaerat?</p>
            <hr>
        <ul>
            <li><a href="">Instagram</a></li>
            <li><a href="">Twitetr</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Github</a></li>
        </ul>
        <br><br>
        <h4>
            Saludos,
            <br>
            Francisco.
        </h4>
        <hr>
        <small class="pie">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure eos nobis aliquam voluptates vitae nihil unde repudiandae, facilis impedit illo esse enim autem exercitationem commodi quisquam possimus iusto corrupti reiciendis? Atque, molestiae eligendi! Asperiores neque commodi est aperiam blanditiis rem.</small>
    
    </body>
</html>